@import "tailwindcss";

/* Light theme (default) */
:root {
  --background: #ffffff;
  --foreground: #2f2e2e;
}

/* Dark theme */
.dark {
  --background: #0b0218;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

